.GamePage {
    height: 98vh;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
}

.GameContainer {
    width: 48vh;
    display: flex;
    justify-content: center;
    background-color: turquoise;
    padding: 1vh 0;
}

.GameBoard {
    background-color: black;
    height: 92vh;
    min-width: 46vh;
    display: flex;
    flex-wrap: wrap-reverse;
}

.BoardSquare {
    border: 1px solid transparent;
    width: 4.6vh;
    height: 4.6vh;
}

.VisibleSquare {
    border: 1px solid gray;
}

.GameBoard button {
    position: absolute;
    top: 48%;
    background-color: #e06540;
    border: 2px solid black;
}

.GameBoard button p {
    font-size: calc(0.8rem + 0.4vw);
    margin: 0;
}

#startButton {
    width: 6%;
    height: 6%;
    left: 47%;
}

#startButton:hover {
    cursor: pointer;
    color: turquoise;
    border: 2px solid turquoise;
}

#pauseButton {
    width: 7%;
    height: 6%;
    left: 46.5%;
}

.NextList, .InfoBox {
    width: 22vh;
    margin: 0 1vh;
    position: relative;
    border: 1vh solid turquoise;
    top: -1vh;
    background-color: turquoise;

}

.NextList {
    height: 82vh;
    border-radius: 0 1rem 0 0;
    right: 1vh;
    min-width: 22vh;
}

.NextList h2, .InfoBox h2 {
    height: 5vh;
    margin: 0;
    padding: calc(2.5vh - 0.8625rem);
    color: black;
    border-radius: 0 1rem 0 0;
    font-size: calc(1rem + 0.5vw);
}

#nextTetrominoes {
    height: calc(100% - 5vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#nextTetrominoes > div {
    height: calc(87vh / (21 / 2));
    width: calc(87vh / (21 / 4));
    margin: calc(87vh / 42) 0;
    display: flex;
    flex-wrap: wrap;
}

#nextTetrominoes > div > div {
    width: 25%;
    height: 50%;
}

#nextTetrominoes > div .MinoDiv {
    border: 1px solid gray;
}

.InfoBox {
    /* height: 94vh; */
    height: 48vh;
    border-radius: 1rem 0 0 0;
    
    left: 1vh;
    
    min-width: 22vh;
}

.InfoBox > div {
    background-color: black;
    height: 6vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoBox p {
    color: white;
}

.InfoBox #holdContainer {
    height: 15vh;
}








@keyframes lineClear {
    to {background-color: white;}
}

.TetrominoI .MinoDiv {
    background-color: cyan;
}

.TetrominoJ .MinoDiv {
    background-color: blue;
}

.TetrominoL .MinoDiv {
    background-color: orange;
}

.TetrominoO .MinoDiv {
    background-color: yellow;
}

.TetrominoS .MinoDiv {
    background-color: green;
}

.TetrominoT .MinoDiv {
    background-color: purple;
}

.TetrominoZ .MinoDiv {
    background-color: red;
}

.Value1 {
    background-color: cyan;
}

.Value2 {
    background-color: blue;
}

.Value3 {
    background-color: orange;
}

.Value4 {
    background-color: yellow;
}

.Value5 {
    background-color: green;
}

.Value6 {
    background-color: purple;
}

.Value7 {
    background-color: red;
}

.Value8 {
    animation-name: lineClear;
    animation-duration: 100ms;
}

