.LandingPage {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12vh 0 0 0;
}

.LandingPage > img {
    height: 20vh;
    position: absolute;
    top: 2vh;
    left: calc(50% - 14.39vh);
    z-index: -10;
}

#playButton {
    width: 10%;
    height: 10%;
}

#playButton:hover {
    cursor: pointer;
    border: 2px solid turquoise;
}

#playButton a {
    text-decoration: none;
    color: black;
    font-size: calc(1rem + 0.5vw);
}

#playButton:hover a {
    color: turquoise;
}