/* .LandingPage {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.LandingPage > img {
    height: 20vh;
    position: absolute;
    top: 2vh;
    left: calc(50% - 14.39vh);
    z-index: -10;
}

#playButton {
    text-decoration: none;
    width: 10%;
    height: 10%;
    background-color: #e06540;
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playButton:hover {
    cursor: pointer;
    border: 2px solid turquoise;
}

#playButton p {
    color: black;
    font-size: calc(1rem + 0.5vw);
    margin: 0;
}

#playButton:hover p {
    color: turquoise;
}